/* .formulario {
    font-size: 20px;
    display: block;
    margin: 10px;
}
/* #nome{
    font-size: 20px;
    display: block;
    margin: 10px;
}

#email{
    font-size: 20px;
    display: block;
    margin: 10px;
}

#celular{
    font-size: 20px;
    display: block;
    margin: 10px;
}
#tipo{
    font-size: 20px;
    display: block;
    margin: 10px;
} */
/* 
.btn-save {
    font-size: 20px;
    color: white;
    background-color: green;
    border-radius: 20px;
    margin: 10px;
} */

/* Após a aplicação do bootstrap */
.novo-contato{
    margin-top: 25px;
}
